{% extends 'base.html' %}
{% block content %}


<div class="deck">
<div id="flashcard" class="card">
    <div class="container"><img id="flashcard-picture" src="{{ card.politician.photo_url }}"></div>
    <input type="button" id="flashcard-text" value="{{ card.right_answer() }}">
</div>

<form class="buttons" action="/cards/{{card.id}}" method="post">
    <input type="hidden" name="answer" value="{{ card.right_answer() }}">
    <input type="submit" value="Next">
</form>
</div>



<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript">
"use strict";

var flashcard = $('#flashcard');
var picture = $('#flashcard-picture');
var info = $('#flashcard-text');
info.hide();

flashcard.click(function() {
    picture.toggle();
    info.toggle();
    }
);


</script>
{% endblock %}
