{% extends 'base.html' %}
{% block content %}


<div class="deck">
<div id="flashcard" class="card">
    <div class="container"><img id="flashcard-picture" src="{{ card.politician.photo_url }}">
        <p id="flashcard-text" style="display: none">{{ card.right_answer() }}</p>
    </div>
</div>

<form class="buttons" action="/cards/{{card.id}}" method="post">
    <input type="hidden" name="answer" value="{{ card.right_answer() }}">
    <input type="submit" value="Next">
</form>
</div>

<script src="{{ url_for('static', filename='jquery-2.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='flashcard.js') }}"></script>
<script>
new Flashcard();
</script>

{% endblock %}
