{% extends 'base.html' %}
{% block content %}

<div class="deck">
    <div class="card">

        <h2 class="score-head">High Scores</h2>

        <div class="container score-data">
            <div class="score-table">
            <ol>
                <table>
                {% for high_score in high_scores %}
                    <tr>
                        <td><li>
                            <span class="user-name">{{ high_score.name }}</span></td>
                        <td><span class="score">{{ high_score.score }}</span></td>
                        <td class="timestamp">
                            <span class="month">{{ high_score.timestamp.month }}</span>-<span class="day">{{ high_score.timestamp.day }}</span>-<span class="year">{{ high_score.timestamp.year }}</span></td>
                        </li>
                    </tr>
                {% endfor %}
                </table>
            </ol>
            


            </div>
            <p><span class="high-score-line"><input class="high-score-button" type="button" id="clear" name="clear" value="Clear High Scores"></span></p>
            
        </div>

        <p class="home-link"><a href="/">Home</a></p>

    </div>
</div>

<script src="{{ url_for('static', filename='jquery-2.2.1.min.js') }}"></script>
<script type="text/javascript">
"use strict"


function replaceHighScores(results) {
    var scores = results;
    console.dir(results);
    $('.user-name').html(scores.name);
    $('.score').html(scores.score);
    $('.month').html(scores.month);
    $('.day').html(scores.day);
    $('.year').html(scores.year);

}

function clearHighScores(evt) {
    $.post("/high_scores/clear.json", replaceHighScores);
    console.log("clear high scores button is clicked");
}


$('#clear').on("click", clearHighScores);



</script>

{% endblock %}