{% extends 'base.html' %}
{% block content %}

<h1>Learn People!</h1>

<h2>Card Deck</h2>

<p>
    <form action="/notes" method="get">
        <input type="submit" value="Notes">
    </form>
<p>
    <form action="/card_decks/new" method="get">
        <input type="hidden" name="mode" value="Flashcard">
        <input type="submit" value="Flashcard">
    </form>
</p>
<p>
    <form action="/card_decks/new">
        <input type="hidden" name="mode" value="Quiz">
        <input type="submit" value="Quiz">
    </form>
</p>

{% endblock %}
