{% extends 'base.html' %}
{% block content %}

<style type="text/css">





</style>

<h1><i class="fa fa-university"></i></h1>
<h2>Learn Your Representatives</h2>

<div class="menu">
    <form class="item" action="/notes" method="get">
        <input type="submit" value="Notes">
    </form>

    <form class="item" action="/flashcards/new" method="get">
        <input type="submit" value="Flashcard">
    </form>

    <form class="item" action="/quizzes/new">
        <input type="submit" value="Quiz">
    </form>
</div>

{% endblock %}
