{% extends 'base.html' %}
{% block content %}
<h1><i class="fa fa-university"></i></h1>
<h2>Pick your topic</h2>

<div class="menu">
  <form action="/card_decks" method="post">
    <input type="hidden" name="scored" value="{{ scored }}">
    <input id="latitude" type="hidden" name="latitude" value="0">
    <input id="longitude" type="hidden" name="longitude" value="0">

    {%for field in fields %}
      <div class="item">
      <input type="submit" name="field" value="{{ field }}">
      </div>
    {% endfor %}
  </form>
</div>


<script type="text/javascript">
// Get the current location
var HackLat = {{ latitude }};
var HackLong = {{ longitude }};

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPos);
    }
    else {
      document.getElementById("latitude").value = HackLat;
      document.getElementById("longitude").value = HackLong;
    }
}
function showPos(position) {
    document.getElementById("latitude").value = position.coords.latitude;
    document.getElementById("longitude").value = position.coords.longitude;
}
getLocation();

</script>

{% endblock %}
