{% extends 'base.html' %}
{% block content %}


<div class="deck">
  {% for politician in politicians %}
  <div class="card unreviewed">
    <div class="container"><img src="{{ politician.photo_url }}"></div>
    <p class="name">{{ politician.name }}, {{ politician.party }}</p>
    <p class="information"><span class="title">{{ politician.title }}</span> for <span class="constituency">{{ politician.constituency }}</span></p>
  </div>
  {% endfor %}

  <div id="done">Congrats, you're done studying! <a href="/">Home</a></div>
  <div class="buttons">
    <a href="#" id="back">Back</a>
    <a href="#" id="next">Next</a>
  </div>
</div>









<script type="text/javascript">
"use strict";
document.getElementById('next').onclick = function () {
  var unreviewed = document.getElementsByClassName('unreviewed');
  if (unreviewed.length > 0){
    unreviewed[0].className = 'card reviewed';

  }
};

document.getElementById('back').onclick = function () {
  var reviewed = document.getElementsByClassName('reviewed');
  if (reviewed.length > 0){
    reviewed[reviewed.length - 1].className = 'card unreviewed';
  }
}

</script>
{% endblock %}
